@import url("https://fonts.googleapis.com/css?family=Inconsolata|PT+Serif&display=swap");

$mainFont: "PT Serif";
$secondaryFont: "Inconsolata";
$baseColor: #8f6fa5;

.shadow {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}
